@import "common";

.section-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

app-wellcome,
app-projects-list {
  height: 100vh;
}
app-about-me {
  scroll-snap-align: start;
  display: block;
  height: 120vh;
  @include desktop {
    height: 100vh;
  }
}

app-footer {
  scroll-snap-align: end;
  display: block;
}
