<div class="section-container">
    <ng-container *ngIf="project">
        <div class="flex-container">
            <div class="proj-details">
                <div class="back-button">
                    <!-- <span>go back</span> -->
                </div>
                <div class="name-description">
                    <h3>{{project.name}}</h3>
                    <h5>{{project.description}}</h5>
                </div>
                <div class="my-parts-list">
                    <header>
                        <h4>What was my part in development?</h4>
                    </header>
                    <ul>
                        <li class="blue" *ngFor="let item of project.my_parts">
                            <span></span>
                            {{item}}
                        </li>
                    </ul>
                </div>
                <div class="techs">
                    <h4>Which Technologies I've Used?</h4>
                    <hr>
                    <div class="bubble-list">
                        <ul>
                            <li class="blue" *ngFor="let tech of project.client_techs">
                                {{tech}}
                            </li>
                        </ul>
                    </div>
                    <div class="bubble-list">
                        <ul>
                            <li class="red" *ngFor="let tech of project.server_techs">
                                {{tech}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="proj-images">
                <ng-container *ngFor="let url of project.image_url">
                    <!-- <img [src]="url" [alt]="project.name"> -->
                    <div class="img" style="background-image: url({{url}});" (click)="selectImage(url)">
                        <div class="overlay">🔎</div>
                    </div>
                </ng-container>
            </div>
        </div>

        <app-slide-show [@fade] *ngIf="slideshowVisible" [slides]="project.image_url"
            (setOff)="slideshowVisible = false"></app-slide-show>
    </ng-container>
</div>